* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.row .container-fluid .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto, .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
	
	margin-right: 0 !important;
	margin-left: 0 !important;
}


#nav{
	background: #765C3D !important;
}
/*navbar brand*/
#logo {

	width: 48.63px;
	height: 44px;
	

	background: url(images/Logo.png);

	background-repeat: no-repeat;
	padding: 0 !important;
	margin: 0 !important;
}

/*navlinks*/
nav a {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500 !important;
	font-size: 18px !important;
	line-height: 22px !important;
	


	/* identical to box height */

	text-align: center;

	color: #F2D2AE !important;
}



/****************LANDING 1 LG-XL******************/

#title {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600 !important;
	font-size: 64px !important;
	line-height: 72px !important;
	/* or 112% */

	
	letter-spacing: -0.02em !important;

	color: #FFFFFF;

	padding-right: 10% !important;

}
.pl-xl-5{
	padding-left: 10% !important;
}

#landing-p{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400 !important;
	font-size: 24px !important;
	line-height: 30px !important;
	/* or 125% */


	color: #FFFFFF;

	width: 65%;
}

#base {
	padding: 12px 24px;
	background: #B59066;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */

	text-align: center;
	border-radius: 50px;

	color: #FFFFFF;
	width: 150px;
}

#landing {

	background: 

		linear-gradient(

			rgba(0, 0, 0, 0.59),
			rgba(0, 0, 0, 0.59)

		),
		url("./images/landing.png");
		background-repeat: no-repeat;
		background-size: cover;

	;
	height: 91vh;


}

#landing-allText{

	
}




/****************LANDING 2 XS-SM******************/


#title2 {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600 !important;
	font-size: 64px !important;
	line-height: 72px !important;
	/* or 112% */

	
	letter-spacing: -0.02em !important;

	color: #FFFFFF;

}

#landing-p2{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400 !important;
	font-size: 24px !important;
	line-height: 30px !important;
	/* or 125% */


	color: #FFFFFF;
}

#base2 {
	padding: 8px 24px;
	background: #B59066;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */

	
	border-radius: 50px;

	color: #FFFFFF;
	width: 150px;
}

#landing2 {

	background: 

		linear-gradient(

			rgba(0, 0, 0, 0.59),
			rgba(0, 0, 0, 0.59)

		),
		url("./images/landing.png");
		background-repeat: no-repeat;
		background-size:auto ;

	;

	height: 91vh;
	


}

/****************LANDING 3  M******************/





#title3 {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600 !important;
	font-size: 64px !important;
	line-height: 72px !important;
	/* or 112% */

	
	letter-spacing: -0.02em !important;

	color: #FFFFFF;
	width: 75%;

}

#landing-p3{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400 !important;
	font-size: 24px !important;
	line-height: 30px !important;
	/* or 125% */


	color: #FFFFFF;

	width: 75% !important;
}

#base3 {
	padding: 8px 24px;
	background: #B59066;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */

	
	border-radius: 50px;

	color: #FFFFFF;
	width: 150px;
}

#landing3 {

	background: 

		linear-gradient(

			rgba(0, 0, 0, 0.59),
			rgba(0, 0, 0, 0.59)

		),
		url("./images/landing.png");
		background-repeat: no-repeat;
		background-size:auto ;

	;

	height: 79vh;
	


}

#landing-allText3{
	padding-left: 20%;
}








#about {

	background: #FFFFFF;

}

#text-title {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	/* identical to box height */

	

	color: #765C3D;

}

#gallery-allText p{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;

	color: #765C3D !important;
}

#album h4{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	/* identical to box height */

	display: flex;
	align-items: flex-end;

	color: #765C3D;
	padding: 0 5%;
}
#album p{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;

	color: #765C3D;
	padding: 0 5%;
}

ol .carousel-inner{
/*	padding: 0 15% !important;	*/
}

#gallery-alt1 ol, #gallery-alt2 ol, #gallery-alt3 ol {
	margin-bottom: 0;
}


#carousel1 li, #carousel2 li, #carousel3 li {
	height: 13px !important;
	width: 13px !important;
	border: 2px solid white;
	border-radius: 30px;
	margin: 0 1%;
}

#carousel1-2 li, #carousel2-2 li, #carousel3-2 li {
	height: 5px !important;
	width: 5px !important;
	border: 2px solid white;
	border-radius: 30px;
	margin: 0 3% ;
}


























#contact {
	background: #FFF2E4;
}

#contact-image {
	background: 

		linear-gradient(

			rgba(0, 0, 0, 0.59),
			rgba(0, 0, 0, 0.59)

		),
		url("./images/building.png");
		background-repeat: no-repeat;
		background-size: cover;
}

#contact-header {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	/* identical to box height */

	

	color: #765C3D;

}

#contact-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;

	color: #765C3D;
}

#contact form label {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #B59066;

}

#contact form input {

	background: #FFFFFF;
	border: 1px solid #B59066 !important;
	border-radius: 0 !important;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #765C3D !important;


}

#contact form textarea {

	background: #FFFFFF;
	border: 1px solid #B59066 !important;
	border-radius: 0 !important;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #003363 !important;
}

#form-btn {
	padding: 8px 24px;
	gap: 8px;
	background: #B59066;
	border-radius: 50px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	/* identical to box height, or 120% */

	text-align: center;

	/* Button/Text/button-primary-text */

	color: #FFFFFF;
}



footer{
	
	text-align: center !important;
    background-color: #FFFFFF !important;
	
}

#footer-text {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */

	text-align: center;

	color: #FFF2E4 !important;
	background-color: #B59066 !important;
	z-index: 1;
	margin: 0 !important;

}